.inputerror {
  border-color: #DC352F !important;
  animation: shake 0.15s 3 forwards ease-in-out;
}

.msg {
    max-width: 370px;
    width: 80%;
    position: fixed;
    padding: 25px 15px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    font-weight: 500;
    opacity: 0;
    cursor: pointer;
    z-index: 555;
}
