@import 'libs/font';
@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: "Gotham Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.circle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    @include before_circle;
}

.divider {
    width: 60px;
    height: 3px;
    margin: 25px auto 0 auto;
    background-color: $main-color;
    &_nomargin {
        margin-top: 0;
    }
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/tools';
@import 'blocks/portfolio';
@import 'blocks/price_list';
